h1{
    text-align: center;
    border:solid;
    color: black;
    padding: 10px;
}
body{
    background-color: withe;
    color: white;
}
img{
    width: "100";
    text-aling: center;
}

nav li a{
    text-aling: justify;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav li{
    float: left;
}

nav ul{
    float: center;
    list-style: none;
}

section nav{
    font-size: 18px;
    letter-spacing: 4px;
    height: 50px;
    background-color: #E3E4E6;
}

footer{
    padding: 10px;
    float:right;
    text-align:center;
}

p{
    text-align: right;
    padding: 5px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: black;
}
a{ font-size:30px;
  color: black;
 }
